<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('elections.static',filename='elections.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <title>Ongoing election list</title>
</head>
<body class="electionBg">
<div>
    <div class="row"></div>
    {% block content %}
    {% if session['email_id'] %}
    <div class="row" style="background: linear-gradient(30deg,#fff 40%,#e8f4f8 50%);">
        <div class="row"></div>
        <div class="col s12 card-action right-align">
            <a href="/login/logout" class="btn red">Logout</a>
        </div>
        <div class="row center-align">
            <div class="col s8 offset-s2">
                <h1>Your available Ongoing Elections</h1>
                <br/>
                <div>
                    <table class="highlight responsive-table">
                        <thead>
                        <tr>
                            <th>Sl No.</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {%for i in range(0, len)%}
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{election_list[i].election_title}}</td>
                            <td>{{election_list[i].election_text}}</td>
                            <td>{{election_list[i].election_type}}</td>
                            <td>{{election_list[i].start_date}}</td>
                            <td>{{election_list[i].end_date}}</td>
                            <td>
                                <a href="/elections/castVote/{{election_list[i].election_id}}"
                                   class="indigo-text darken-1"
                                   style="text-decoration:underline;">
                                    Cast your vote!
                                </a>
                            </td>

                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="screenCenter" style="font-size:xx-large;color:white">
        <div class="row center-align">
            You are not authorized to use this system! Please login to continue!!
        </div>
        <div class="row center-align">
            <a href="/login/login" class="indigo-text darken-1"
               style="text-decoration:underline;">
                Login here
            </a>
        </div>
    </div>
    {% endif %}
    {% endblock content %}
</div>

</body>
</html>